go 1.23

use (
	./go/sentinelconnector
	./go/sentineldb
	./go/sentinelevents
	./go/sentinelobs
	./go/sentinelreplay
	./go/sentinelschema
	./go/sentinelstream
	./go/soaktest
	./services/correlate
	./services/detect
	./services/eventwriter
	./services/ingest
)
